@page "/code-editor"

@inject IJSRuntime JSRuntime

<div id="editor" style="height: 500px;"></div>

@code
{


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {


        if(firstRender)
        {


            await JSRuntime.InvokeVoidAsync("initializeEditor");


        }


    }

}