@inherits LayoutComponentBase

<div class="page">

    <main>
        @* Required *@
        <MudThemeProvider />
        <MudPopoverProvider />

        @* Needed for dialogs *@
        <MudDialogProvider />

        @* Needed for snackbars *@
        <MudSnackbarProvider />

        <StandaloneCodeEditor />
        <!-- or -->
        <StandaloneDiffEditor />
        @Body
    </main>
</div>
